@use "./vars" as vars;

.btn {
	width: 32px;
	height: 32px;
	cursor: pointer;
	border: none;
	box-shadow: 0 0 4px vars.$primary;
	border-radius: 4px;
	color: vars.$text;

	& + & {
		margin-left: 12px;
	}

	&[disabled] {
		cursor: default;
	}
}
