@use "./components/common-styles/common-styles.scss" as common-styles;

.app {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: common-styles.$secondary;
		color: common-styles.$text;
	}
	&__settings {
		display: flex;
		margin-bottom: 32px;
	}
}
